node_modules
package-lock.json
dist
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/kubeconfig_gamecluster
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform-cicd-pipeline/.terraform
terraform-cicd-pipeline/.terraform.lock.hcl
terraform-cicd-pipeline/terraform.tfstater
terraform-cicd-pipeline/terraform.tfstate.backup
terraform-cicd-pipeline/.terraform.tfstate.lock.info