node_modules
package-lock.json
dist
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/kubeconfig_gamecluster
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info